{% form_theme form "@App/Default/fields.html.twig" %}

<div class="newsletter">
    <div class="single-image-wrapper" id="newsletter-logo">
        <img class="aligncenter" width="240" height="60" src="{{ asset('/images/escapism-logo.png') }}" alt="escapism logo"/>
    </div>

    <p>Escapism magazine takes a fresh look at global travel, featuring inspirational writing from some of the most exciting voices in travel, and photography and design that transports readers from busy London streets to amazing locations across the globe.</p>
    <p id="notification-msg">Sign up for notifications below:</p>

    <p id="msg" class=""></p>

    {{ form(form) }}
</div>
<div class="single-image-wrapper" id="mag-cover">
    <img class="aligncenter" width="315" height="420" src="{{ asset('/images/escapism-cover.png') }}" alt="escapism logo"/>
</div>
<p class="follow-escapism">FOLLOW ESCAPISM ON: <span><a href="#" target="_blank"><img class="alignnone" width="36" height="36" src="{{ asset('/images/facebook-icon.png') }}" alt="facebook"/></a> <a href="#" target="_blank"><img class="alignnone" width="36" height="36" src="{{ asset('/images/instagram.icon.png') }}" alt="instagram"/></a> <a href="#" target="_blank"><img class="alignnone" width="36" height="36" src="{{ asset('/images/twitter-icon.png') }}" alt="twitter"/></a></span></p>